@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html {
  background-color: #003B40;
  padding: 1rem;
}

p {
  font-family:'Inter', sans-serif;
  font-weight: 700;
  color: white;
  font-size: 1.3rem;
}

.top{
  display: flex;
  justify-content: space-between;
}

.player-disease {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.player {
  border-radius: 5rem;
  width: 8rem;
  height: 8rem;
  background-color: #0A5C5D;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: #033539 solid 0.5rem;
  gap: 0.5rem;
}

.player > p{
  font-size: 1.5rem;
}

.disease {
  display: flex;
  flex-direction: column;
  background-color: #0A5C5D;
  width: 10rem;
  height: 7rem;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: #033539 solid 0.5rem;
  border-radius: 0.5rem;
}

.disease > section{
  display: flex;
  gap: 0.5rem;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center > p{
  font-size: 1.5rem;
}

.infectionRate {
  background-color: #003A3C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #0A5C5D solid 0.5rem;
  width: 14rem;
  height: 9rem;
  gap: 1rem;
  border-radius: 0.5rem;
}

.infectionRate > p:last-of-type{
  border-radius: 6rem;
  width: 6rem;
  height: 6rem;
  background-color: #0A5C5D;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}



.bot{
  display: flex;
  justify-content: space-between;
}
