@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html {
  background-color: #003B40;
}
p {
  font-family:'Inter', sans-serif;
  font-weight: 700;
  color: white;
  font-size: 1.3rem;
}

.top{
  display: flex;
  justify-content: space-between;
}

.bot{
  display: flex;
  justify-content: space-between;
}
